out_*.txt
valid_trees*.txt
__pycache__/*.pyc
__pycache__/hicuts.cpython-37.pyc
__pycache__/tree.cpython-37.pyc
trees_26_06/*.pkl
trees_28_06/*.pkl
trees_29_06_18/*.pkl
trees_fw2_02_07_00/*.pkl
trees_ipc2_29_06_18/*.pkl
trees__ipc2_29_06_18/*.pkl
NeuroCuts-Original/trees_27_06/*.pkl
NeuroCuts-Original/trees_ipc2_30_06_00/*.pkl
NeuroCuts-Original/trees_26_06/*.pkl
NeuroCuts-Original/trees_29_06_20/*.pkl
NeuroCuts-Original/__pycache__/